name: Docker Image CI

on:
  push:
    branches:
      - main
      - release_2025_01
      - sort-by-date

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: |
          # Disable Poetry’s virtualenv so that packages install in the runner’s Python
          poetry config virtualenvs.create false
          poetry install --no-root

      - name: Run tests
        run: pytest

  build-and-push:
    needs: test  # Only run build if tests pass
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract short SHA
        id: vars
        run: echo "GITHUB_SHA_SHORT=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ghcr.io/aihawk-startup/matching_service:${{ env.GITHUB_SHA_SHORT }}
            ${{ github.ref == 'refs/heads/main' && 'ghcr.io/aihawk-startup/matching_service:pre' || '' }}
            ${{ github.ref == 'refs/heads/release_2025_01' && 'ghcr.io/aihawk-startup/matching_service:release_2025_01' || '' }}
